<p>
  <b>Name:</b>  <%= link_to @guardian.name, guardian_path(@guardian) %> 
</p>

<p>
	<b>Household Name:</b><%= link_to " #{@household.name} Household", household_path(@household) %>
</p>

<p>
  <b>Gender:</b>  <%= @guardian.sex %> 
</p>

<p>
  <b>Address:</b> <%= @household.full_address %>
</p>

<p>
  <b>Day Phone:</b>  <%= @guardian.day_phone.nil? || @guardian.day_phone.empty? ? "Not Provided" : "#{number_to_phone @guardian.day_phone}" %> 
</p>

<p>
  <b>Cell Phone:</b> <%= @guardian.cell_phone.nil? || @guardian.cell_phone.empty? ? "Not Provided" : "#{number_to_phone @guardian.cell_phone}" %>
</p>

<p>
  <b>Home Phone:</b> <%= @household.home_phone.nil? || @household.home_phone.empty? ? "Not Provided" : "#{number_to_phone @household.home_phone}" %>
</p>

<p>
  <b>Email:</b> <%= @guardian.email.nil? || @guardian.email.empty? ? "Not Provided" : "#{@guardian.email}" %>
</p>

<p>
  <b>Recieve Text Notifications:</b> <%= @guardian.receive_texts ? "Yes" : "No" %>
</p>

<p>
	<b>Current Status:</b> <%= @guardian.active ? "Active" : "Inactive" %>
</p>