<% if @brackets.empty? %>
  &nbsp;&nbsp;<em>None at this time</em>
<% else %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Ages</th>
  			<th>Gender</th>
  			<th>Number of Teams</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% @brackets.each do |bracket| %>
        <tr>
          <td><%= link_to "#{bracket.min_age} - #{bracket.max_age}", bracket_path(bracket) %></td>
  				<td><%= bracket.sex %></td>
          <td><%= bracket.teams.nil? ? "None at this time" : "#{bracket.teams.size}" %></td>
          <td><%= link_to raw("<span class='glyphicon glyphicon-pencil'></span></i> Edit"), edit_bracket_path(bracket), :class => 'btn btn-md' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="digg_pagination">
    <div clas="page_info">
      <%= page_entries_info @brackets %>
    </div>
    <%= will_paginate @brackets, :container => true, :previous_label => "Previous", :next_label => "Next", :inner_window => 2 %>
  </div>
<% end %>