<div class="row">
	<div class="span12">
		<h2>Bracket Details</h2>
		<%= render :partial => "bracket_details" %>
	</div>
</div>

<div class="form-actions">
  <%= link_to raw("<span class='glyphicon glyphicon-list'></span> Display All Brackets"), brackets_path, :class => 'btn btn-default myDisplayAllButton'  %>&nbsp;&nbsp;
  <%= link_to raw("<span class='glyphicon glyphicon-pencil'></span> Edit Bracket"), edit_bracket_path(@bracket), :class => 'btn btn-primary myEditButton' %>&nbsp;&nbsp;
  <%= link_to raw("<span class='glyphicon glyphicon-trash'></span> Delete Bracket"), bracket_path(@bracket), :method => 'delete', :action => 'destroy', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>

<div class="span12">
	<h2>Eligible Students</h2>
	<%= render :partial => "eligible_students" %>
</div>