<div class="fields">
  <div class="min_attraction">
	<%= f.input :guardian_id, :collection => Guardian.active.map { |g| g.proper_name } %>
	<%= f.input :email %>
	<%= f.input :password %>
	<%= f.input :password_confirmation %>
	<%= f.input :active %>
	<%= f.input :role, :collection => User::ROLES, :prompt => true %>
  </div>
</div>