<!--              Student                        -->
<p>
	<h3>Personal Information</h3>
</p>

<p>
	<h4>Name: <%= @student.name %></h4>
</p>

<p>
  <b>Date of Birth:</b> <%= @student.dob.strftime("%m/%d/%y") %> Link to Birth Certificate goes here.
</p>

<p>
  <b>Gender:</b> <%= @student.sex %>
</p>

<p>
  <b>Cell Phone:</b> <%= number_to_phone @student.cell_phone unless @student.cell_phone.nil? %>
</p>

<p>
  <b>CT-shirt Size</b> <%= @student.registration.t_shirt_size %>
</p>

<!--              Team                         -->

<p>
	<h3>Team Information</h3>
</p>

<p>
  <b>Team:</b> <%= @student.registration.team.name.nil? ? "---" : student.team.name %>
</p>

<p>
  <b>Bracket:</b> <%= @student.registration.team.bracket.nil? ? "---" : "#{@student.registration.team.bracket.min_age} - #{@student.registration.team.bracket.max_age}" %>
</p>

<p>
  <b>Waitlist Position:</b> 
</p>

<!--              School                         -->

<p>
	<h3>School Information</h3>
</p>

<p>
  <b>Grade:</b> <%= @student.grade_integer %>
</p>

<p>
  <b>School County:</b> <%= @student.school_county %>
</p>

<p>
  <b>Report Card Submitted:</b> <%= @student.registration.missing_report_card ? "No" : "Yes" %> Link to Report Card goes here
</p>

<!--              Guardian                         -->

<p>
	<h3>Guardian Information</h3>
</p>

<p>
  <b>Name:</b> <%= @student.guardian.name %>
</p>

<p>
  <b>Date of Birth:</b> <%= @student.guardian.dob.strftime("%m/%d/%y") %>
</p>

<p>
  <b>Gender:</b> <%= @student.guardian.sex %>
</p>

<p>
  <b>Address:</b> <%= @student.household.full_address %>
</p>

<p>
  <b>Day Phone:</b> <%= number_to_phone @student.guardian.day_phone unless @student.guardian.day_phone.nil? %>
</p>

<p>
  <b>Cell Phone:</b> <%= number_to_phone @student.guardian.cell_phone unless @student.guardian.cell_phone.nil? %>
</p>

<p>
  <b>Home Phone:</b> <%= number_to_phone @student.guardian.home_phone unless @student.guardian.home_phone.nil? %>
</p>

<p>
  <b>Email:</b> <%= @student.guardian.email unless @student.guardian.email.nil? %>
</p>

<p>
  <b>Recieve Text Notifications:</b> <%= @student.registration.receive_texts ? "Yes" : "No" %>
</p>

<!--              Medical                         -->

<p>
	<h3>Medical Information</h3>
</p>

<p>
  <b>Allergies:</b> <%= @student.allergies %>
</p>

<p>
  <b>Medication(s):</b> <%= @student.medications %>
</p>

<p>
  <b>Last Physical:</b> <%= @student.physical_date.strftime("%m/%d/%y") %> Link to Physical goes here
</p>

<p>
  <b>Family Physician</b> <%= @student.household.family_physician %>
</p>

<p>
  <b>Family Physician Phone</b> <%= @student.household.physician_phone %>
</p>

<p>
  <b>Insurance Policy Provider</b> <%= @student.household.insurance_provider %>
</p>

<p>
  <b>Insurance Policy Number</b> <%= @student.household.insurance_policy_no %> Link to Insurance Card goes here
</p>

<p>
  <b>Emergency Contact:</b> <%= @student.emergency_contact_name %>
</p>

<p>
  <b>Emergency Contact Phone:</b> <%= @student.emergency_contact_phone %>
</p>

<!--              Other                         -->

<p>
	<h3>Other</h3>
</p>

<p>
  <b>Active:</b> <%= @student.active ? "Yes" : "No" %>
</p>