<!--              Student                        -->
<p>
	<h3>Personal Information</h3>
</p>

<p>
	<h4>Name: <%= @student.proper_name %></h4>
</p>

<p>
  <b>Date of Birth:</b> <%= @student.dob.strftime("%B %d, %Y") %>
</p>

<p>
  <b>Age (as of June 1st): </b> <%= @student.age_as_of_june_1 %>
</p>

<p>
  <b>Gender:</b> <%= @student.sex %>
</p>

<p>
  <b>Cell Phone:</b> <%= number_to_phone @student.cell_phone unless @student.cell_phone.nil? %>
</p>

<p>
  <b>Jersey Size:</b> <%= if !@registration.nil? then Registration::SIZE_LIST.map{ |t| t[0]}[@registration.t_shirt_size - 1]  else "---" end %>
</p>

<!--              Team                         -->

<p>
	<h3>Team Information</h3>
</p>

<p>
  <b>Team:</b> <%= @team.nil? ? "---" : (link_to team_name(@team.name), team_path(@team)) %>
</p>

<p>
  <b>Bracket:</b> <%= @bracket.nil? ? "---" : (link_to "#{@bracket.min_age} - #{@bracket.max_age}", bracket_path(@bracket)) %>
</p>

<p>
  <b>Waitlist Position:</b> 
</p>

<!--              School                         -->

<p>
	<h3>School Information</h3>
</p>

<p>
  <b>School Name:</b> <%= @student.school %>
</p>

<p>
  <b>Grade (as of August <%= @registration.created_at.year %>):</b> <%= @student.grade_integer %>
</p>

<p>
  <b>School District:</b> <%= @student.school_county %>
</p>

<p>
  <b>Report Card Submitted:</b> <%= @student.missing_report_card ? "No" : "Yes" %>
</p>

<!--              Guardian Details                        -->

<p>
	<h3>Parent/Guardian Information</h3>
</p>

<% @guardians.each do |guardian| %> <%= render :partial => "guardian_details", :locals => { :g => guardian, :h => @household, :r => @registration } %> <% end %>

<!--              Medical                         -->

<p>
	<h3>Medical Information</h3>
</p>

<p>
  <b>Allergies:</b> <%= @student.allergies %>
</p>

<p>
  <b>Medication(s):</b> <%= @student.medications %>
</p>

<p>
  <b>Last Physical:</b> <%= @registration.physical_date.strftime("%m/%d/%y") unless @registration.nil? %>
</p>

<!-- <p>
  <b>Family Physician</b> <%= @household.family_physician %>
</p>

<p>
  <b>Family Physician Phone</b> <%= number_to_phone @household.physician_phone %>
</p>

<p>
  <b>Insurance Policy Provider</b> <%= @household.insurance_provider %>
</p>

<p>
  <b>Insurance Policy Number</b> <%= @household.insurance_policy_no %> Link to Insurance Card goes here
</p> -->

<p>
  <b>Emergency Contact:</b> <%= @student.emergency_contact_name %>
</p>

<p>
  <b>Emergency Contact Phone:</b> <%= number_to_phone @student.emergency_contact_phone %>
</p>

<!--              Other                         -->

<p>
	<h3>Other</h3>
</p>

<p>
  <b>Current Status:</b> <%= @student.active ? "Active" : "Inactive" %>
</p>