<div class="row">
	<div class="span12">
		<h2>Student Details</h2>
		<%= render :partial => "student_details" %>
	</div>
</div>

<div class="form-actions">
  <%= link_to raw("<i class='icon-list'></i> Display All Students"), students_path, :class => 'btn'  %>&nbsp;&nbsp;
  <%= link_to raw("<i class='icon-pencil'></i> Edit #{@student.proper_name}"), edit_student_path(@student), :class => 'btn' %>&nbsp;&nbsp;
  <% if @student.active %>
  	<%= link_to raw("<i class='icon-remove icon-white'></i> Change #{@student.proper_name}'s status"), student_path(@student), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
  <% else %>
    <%= link_to raw("<i class='icon-remove icon-white'></i> Change #{@student.proper_name}'s status"), activate_path(@student), :confirm => 'Are you sure?', :class => 'btn btn-success' %>
  <% end %>

</div>