<%= simple_form_for @bracket, :html => { :class => 'form-horizontal' } do |bracket_form| %>
  <div class="row">
    <div class="span12">
      <fieldset>
        <legend><%= controller.action_name.capitalize %> Bracket </legend>
        <%= render :partial => "bracket_fields", :locals => { :f => bracket_form } %>
      </fieldset>
    </div>
  <div>
  
    <div class="form-actions">
    <%= bracket_form.submit nil, :class => 'btn btn-primary' %>
    <%= link_to 'Cancel', brackets_path, :class => 'btn' %>
  </div>
<% end %>