
<p>
  <b>Name:</b>  <%= link_to g.proper_name, guardian_path(g) %> 
</p>

<!-- <p>
  <b>Date of Birth:</b>  <%= g.dob.strftime("%m/%d/%y") %> 
</p> -->

<!-- <p>
  <b>Gender:</b>  <%= g.sex %> 
</p> -->

<!-- <p>
  <b>Address:</b> <%= h.full_address %>
</p>

<p>
  <b>Day Phone:</b>  <%= number_to_phone g.day_phone unless g.day_phone.nil?%> 
</p> -->

<!-- <p>
  <b>Cell Phone:</b> <%= number_to_phone g.cell_phone unless g.cell_phone.nil? %>
</p> -->

<!-- <p>
  <b>Home Phone:</b> <%= number_to_phone h.home_phone unless h.home_phone.nil? %>
</p> -->

<!-- <p>
  <b>Email:</b> <%= g.email unless g.email.nil? %>
</p>
 -->
<!-- <p>
  <b>Recieve Text Notifications:</b> <%= g.receive_texts ? "Yes" : "No" %>
</p> -->