<div class="fields">
  <div class="min_attraction">
      <%= r.hidden_field :student_id, :default => @student.id %>
      <%= r.hidden_field :team_id %>
      <%= r.input :report_card, :as => :file, :label => "Report Card" %>
      <%= r.hidden_field :report_card_cache %>
      <%= r.input :proof_of_insurance, :as => :file, :label => "Insurance Card" %>
      <%= r.input :physical, :as => :file, :label => "Last Physical" %>
      <%= r.input :physical_date, :as => :string, :input_html => { :class => 'datepicker' }, :include_blank => true %>
      <%= r.input :t_shirt_size, :collection => Registration::SIZE_LIST %>
      <%= r.input :active %>
  </div>
</div>