<div class="fields">
  <div class="min_attraction">
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :gender, :collection => Student::GENDER_LIST %>
      <%= f.input :dob, :label => "Date of Birth", :as => :date, :start_year => Date.today.year - 19, :end_year => Date.today.year - 4,  :order => [:month, :day, :year], :include_blank => true %>
      <%= f.input :cell_phone %>
      <%= f.input :emergency_contact_name %>
      <%= f.input :emergency_contact_phone %>
      <%= f.input :allergies, :input_html => { :rows => 3 , :cols => 30} %>
      <%= f.input :medications, :input_html => { :rows => 3 , :cols => 30} %>
      <%= f.input :grade_integer, :collection => Student::GRADES_LIST, :label => "Grade (as of September)" %>
      <%= f.input :school, :label => "School Name" %>
      <%= f.input :school_county, :label => "School District" %>
      <%= f.input :security_question, :collection => Student::SECURITY_QUESTIONS, :label => "Please select a security question" %>
      <%= f.input :security_response %>
      <%= f.input :active %>
  </div>
</div>