<!--              Student                        -->
<div class="col-sm-7 col-md-7 col-lg-6">
  <p>
    <h3>Personal Information</h3>
  </p>

  <p>
    <h4>Name: <%= @student.proper_name %></h4>
  </p>

  <p>
    <b>Date of Birth:</b> <%= @student.dob.strftime("%B %d, %Y") %>
  </p>

  <p>
    <b>Age (as of June 1st): </b> <%= @student.age_as_of_june_1 %>
  </p>

  <p>
    <b>Gender:</b> <%= @student.sex %>
  </p>

  <p>
    <b>Cell Phone:</b> <%= @student.cell_phone.nil? || @student.cell_phone.empty? ? " Not Provided" : "#{number_to_phone @student.cell_phone}" %>
  </p>

  <p>
    <b>Email:</b> <%= @student.email.nil? || @student.email.empty? ? " Not Provided" : "#{@student.email}" %>
  </p>
  
  <p>
    <b>Jersey Size:</b> <%= if !@registration.nil? then @registration.jersey_size  else "---" end %>
  </p>

  

  <!--              School                         -->

  <p>
    <h3>School Information</h3>
  </p>

  <p>
    <b>School Name:</b> <%= @student.school %>
  </p>

  <p>
    <b>Grade <%= "(as of August " + @registration.created_at.year.to_s + "):" unless @registration.nil? %></b> <%= @student.proper_grade %>
  </p>

  <p>
    <b>School District:</b> <%= Student::SCHOOL_DISTRICT_LIST[@student.school_county.to_i][0] %>
  </p>


  
  <!--              Medical                         -->

  <p>
    <h3>Medical Information</h3>
  </p>

  <% allergyClass = (@student.nil? || @student.allergies.nil? || @student.allergies.empty?) ? "" : "myDanger" %>
  <p>
    <b>Allergies:</b> <span class="<%= allergyClass %>"><%= (@student.nil? || @student.allergies.nil? || @student.allergies.empty?) ? "None" : @student.allergies %></span>
  </p>

  <% medicationClass = (@student.nil? || @student.medications.nil? || @student.medications.empty?) ? "" : "myDanger" %>
  <p>
    <b>Medication(s):</b> <span class="<%= medicationClass %>"><%= (@student.nil? || @student.medications.nil? || @student.medications.empty?) ? "None" : @student.medications %></span>
  </p>

  <p>
    <b>Last Physical:</b> <%= (@registration.nil? || @registration.physical_date.nil? || @registration.physical_date.blank?) ? "Not Provided" : @registration.physical_date.strftime("%m/%d/%y") %>
  </p>

  <p>
    <b>Emergency Contact:</b> <%= @student.emergency_contact_name %>
  </p>

  <p>
    <b>Emergency Contact Phone:</b> <%= number_to_phone @student.emergency_contact_phone %>
  </p>
</div>  

<!--              Team                         -->
<div class="col-sm-5 col-md-5 col-lg-6">
<p>
	<h3>Team Information</h3>
</p>

<p>
  <b>Team:</b> <%= @team.nil? ? "---" : (link_to team_name(@team.name), team_path(@team)) %>
</p>

<p>
  <b>Bracket:</b> <%= @bracket.nil? ? "---" : (link_to "#{@bracket.min_age} - #{@bracket.max_age}", bracket_path(@bracket)) %>
</p>

</div>


<!--              Guardian Details                        -->
 <div class="col-sm-6 col-md-6 col-lg-6">

  <p>
    <h3>Parent/Guardian Information</h3>
  </p>

  <p>
    <b>Household:</b>  <%= link_to "#{@household.name} Household", household_path(@household) %> 
  </p>

  <% @guardians.each do |guardian| %> <%= render :partial => "guardian_details", :locals => { :g => guardian, :h => @household, :r => @registration } %> <% end %>



  <!--              Documents                        -->

  <p>
    <h3>Documents</h3>
  </p>

  <p>
    <b>Report Card: </b>
      <% if @student.missing_report_card || @registration.nil? %>
        <%= "Not Submitted" %>
      <% else %>
        <button class="btn btn-default" data-toggle="modal" data-target="#report-card-modal">View Report Card</button>

        <div id="report-card-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
            
              <% if @registration.report_card.url.include? ".pdf" %>
                <object data="<%= @registration.report_card.url %>" width="500" height="800" type="application/pdf">
                  <embed src="<%= @registration.report_card.url %>" width="500" height="800" type="application/pdf" />
                </object>
              <% else %>
                <%= image_tag @registration.report_card.url(:web, :full) %>
              <% end %>
              
            </div>
          </div>
        </div>
      <% end %>
  </p>
  <p>
    <b>Insurance Card: </b>
    <% if @registration.nil? || @registration.proof_of_insurance.path.nil? %>
      <%= "Not Submitted" %>
    <% else %>
      <button class="btn btn-default" data-toggle="modal" data-target="#insurance-card-modal">View Insurance Card</button>

      <div id="insurance-card-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
          
            <% if @registration.proof_of_insurance.url.include? ".pdf" %>
              <iframe src="http://docs.google.com/gview?url=<%= @registration.proof_of_insurance.url %>&embedded=true" style="width:718px; height:700px;" frameborder="0"></iframe>
            <% else %>
              <%= image_tag @registration.proof_of_insurance.url(:web, :full) %>
            <% end %>
            
          </div>
        </div>
      </div>
    <% end %>
  </p>
  <p>
    <b>Physical: </b>
    <% if @registration.nil? || @registration.physical.path.nil? %>
      <%= "Not Submitted" %>
    <% else %>
      <button class="btn btn-default" data-toggle="modal" data-target="#physical-modal">View Physical Form</button>

      <div id="physical-modal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <% if @registration.physical.url.include? ".pdf" %>
              <iframe src="http://docs.google.com/gview?url=<%= @registration.physical.url %>&embedded=true" style="width:718px; height:700px;" frameborder="0"></iframe>
            <% else %>
              <%= image_tag @registration.physical.url(:web, :full) %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    </p>
  <p>
    <b>Birth Certificate: </b>
    <% if @student.birth_certificate.path.nil? %>
      <%= "Not Submitted" %>
    <% else %>
      <button class="btn btn-default" data-toggle="modal" data-target="#birth-certificate-modal">View Birth Certificate</button>

      <div id="birth-certificate-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            
            <% if @student.birth_certificate.url.include? ".pdf" %>
              <iframe src="http://docs.google.com/gview?url=<%= @student.birth_certificate.url %>&embedded=true" style="width:718px; height:700px;" frameborder="0"></iframe>
            <% else %>
              <%= image_tag @student.birth_certificate.url(:web,:full) %>
            <% end %>
            
          </div>
        </div>
      </div>
    <% end %>
  
  </p>

  

  <!--              Other                         -->
  <p>
    <h3>Other</h3>
  </p>

  <p>
    <b>Current Status:</b> <%= @student.active ? "Active" : "Inactive" %>
  </p>
  <p>
    <b>Registered by:</b> <%= if (@registration.nil? || @registration.volunteer_initials.nil? || @registration.volunteer_initials.length == 0) then "No volunteer recorded" else @registration.volunteer_initials end %>
  </p>
</div>
