<div  style="padding-left:10%;">
<div class="row ">
	<div class="col-sm-10 col-md-10 col-lg-10">
		<h2>Student Details</h2>
		<%= render :partial => "student_details" %>
	</div>
  <br>
  <br>
</div>

<div class="form-actions">
  <%= link_to raw("<span class='glyphicon glyphicon-list'></span> Display All Students"), students_path, :class => 'btn btn-default myDisplayAllButton'  %>&nbsp;&nbsp;
  <%= link_to raw("<span class='glyphicon glyphicon-pencil'></span> Edit #{@student.proper_name}"), edit_student_path(@student), :class => 'btn btn-primary myEditButton' %>&nbsp;&nbsp;
  <% if @student.active %>
  	<%= link_to raw("<span class='glyphicon glyphicon-remove'></span> Make #{@student.proper_name} Inactive"), student_path(@student), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
  <% else %>
    <%= link_to raw("<span class='glyphicon glyphicon-ok'></span> Make #{@student.proper_name} Active"), activate_student_path(@student), :class => 'btn btn-success' %>
  <% end %>

</div>
</div>