<%= simple_form_for @household, :url => { :action => "new" }, :html => { :class => 'form-horizontal' } do |household_form| %>
  <div class="row">
    <div class="span7">
      <fieldset>
        <legend><%= controller.action_name.capitalize %> Household </legend>
        <%= render :partial => "household_fields", :locals => { :f => household_form } %>
      </fieldset>
    </div>
  <div>
  
    <div class="form-actions">
    <%= household_form.submit nil, :class => 'btn btn-primary' %>
    <%= link_to 'Cancel', households_path, :class => 'btn' %>
  </div>
<% end %>