<div class="fields">
  <div class="min_attraction">
    <%= f.input :home_phone %>
    <%= f.input :street %>
    <%= f.input :city %>
    <%= f.input :state, :collection => Household::STATES_LIST %>
    <%= f.input :zip %>
    <%= f.input :insurance_provider %>
    <%= f.input :insurance_policy_no %>
    <%= f.input :family_physician %>
    <%= f.input :physician_phone %>
    <%= f.input :active %>
  </div>
</div>