<div class="fields">
  <div class="min_attraction">
    <%= f.input :home_phone, :label => "Home Phone: ", :required => true %>
    <%= f.input :street, :label => "Street Address: " %>
    <%= f.input :city, :label => "City: " %>
    <%= f.input :state, :label => "State: ", :collection => Household::STATES_LIST, :selected => "PA", :required => true %>
    <%= f.input :zip, :label=> "Zip Code: ", :required => true %>
    <%= f.input :insurance_provider, :label => "Insurance Provider: " %>
    <%= f.input :insurance_policy_no, :label => "Insurance Policy Number: " %>
    <%= f.input :family_physician, :label => "Family Physician: " %>
    <%= f.input :physician_phone, :label => "Physician's Phone: ", :required => true %>
    <%= f.input :active, :label => "Active: ", :required => true %>
  </div>
</div>