 <% if @all_households.empty? %>
  &nbsp;&nbsp;<em>None at this time</em>
<% else %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Home Adress</th>
        <th>Number of Registered Children</th>
        <th>Active</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% @all_households.each do |household| %>
        <tr>
          <td><%= link_to household.name, household_path(household) %></td>
          <td><%= household.full_address %></td>
          <td><%= household.students.size %></td>
          <td><%= household.active ? "Yes" : "No" %></td>
          <td><%= link_to raw("<i class='icon-pencil'></i> Edit"), edit_household_path(household), :class => 'btn btn-mini' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="digg_pagination">
    <div clas="page_info">
      <%= page_entries_info @all_households %>
    </div>
    <%= will_paginate @all_households, :container => true, :previous_label => "Previous", :next_label => "Next", :inner_window => 2 %>
  </div>
<% end %>