<p>
  <b>Name:</b>  <%= link_to @guardian.name, guardian_path(@guardian) %> 
</p>

<p>
	<b>Household Name:</b><%= link_to " #{@household.name} Household", household_path(@household) %>
</p>

<p>
  <b>Date of Birth:</b>  <%= @guardian.dob.strftime("%m/%d/%y") %> 
</p>

<p>
  <b>Gender:</b>  <%= @guardian.sex %> 
</p>

<p>
  <b>Address:</b> <%= @household.full_address %>
</p>

<p>
  <b>Day Phone:</b>  <%= number_to_phone @guardian.day_phone unless @guardian.day_phone.nil?%> 
</p>

<p>
  <b>Cell Phone:</b> <%= number_to_phone @guardian.cell_phone unless @guardian.cell_phone.nil? %>
</p>

<p>
  <b>Home Phone:</b> <%= number_to_phone @household.home_phone unless @household.home_phone.nil? %>
</p>

<p>
  <b>Email:</b> <%= @guardian.email unless @guardian.email.nil? %>
</p>

<p>
  <b>Recieve Text Notifications:</b> <%= @guardian.receive_texts ? "Yes" : "No" %>
</p>

<p>
	<b>Current Status:</b> <%= @guardian.active ? "Active" : "Inactive" %>
</p>