<h4> <%= "Waitlist for #{b.name}" %></h4>
<% if b.waitlist == "There is still space available in the #{b.name}" %>
  &nbsp;&nbsp;<em><%="There is still space available in the #{b.name} bracket." %></em>
<% else %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Position</th>
        <th>Name</th>
        <th>Age(as of June 1)</th>
        <th>Time Submitted</th>
      </tr>
    </thead>
    <tbody>
      <% position = 1 %>
      <% b.eligible_students(min, max).each do |student| %>
        <tr>
          <td><%= position %></td>
          <td><%= link_to student.name, student_path(student) %></td>
          <td><%= student.age_as_of_june_1 %></td>
          <td><%= student.registrations.current.first.created_at %></td>
        </tr>
        <% position += 1 %>
      <% end %>
    </tbody>
  </table>
    <div clas="page_info">
      <%= page_entries_info b.eligible_students(min, max).paginate(:page => params[:page], :per_page => 10) %>
    </div>
    <%= will_paginate b.eligible_students(min, max).paginate(:page => params[:page], :per_page => 10), :container => true, :previous_label => "Previous", :next_label => "Next", :inner_window => 2 %>
  </div>  
<% end %>