<% if logged_in? && current_user.role == "admin" %>
  <div>
  <div id="home-main-content">
    <div class="row">
      <%= link_to 'Register a Student', new_registration_path, :class => "btn btn-success" %>
    </div>
    <div class="row">
      <p>
        <h4><b>Students Registered:</b><%= @tournament.number_of_students unless @tournament.nil? %></h4>
      </p>
      <p>
        <h4><b>Jersey Sizes:</b> Small-<%= Registration.active.current.jersey_size(0).size %>, Medium-<%= Registration.active.current.jersey_size(1).size %>, Large-<%= Registration.active.current.jersey_size(2).size %>, X-Large-<%= Registration.active.current.jersey_size(3).size %>, XX-Large-<%= Registration.active.current.jersey_size(4).size %>, XXX-Large-<%= Registration.active.current.jersey_size(5).size %></h4>
      </p>	
    </div>

    
    <div id="home-missing-docs" class="row col-sm-12 col-md-12 col-lg-12">
      <div class="col-sm-10 col-md-10 col-lg-10">
        <%= render :partial => "students_missing_docs" %>
      </div>
    </div>

    
    <div class="row col-sm-12 col-md-12 col-lg-12">
      <div class="col-sm-4 col-md-4 col-lg-4">
        <%= render :partial => "unassigned_students" %>
      </div>
      <div class="spacer col-sm-1 col-md-1 col-lg-1"></div>
        <div class="col-sm-5 col-md-5 col-lg-5">
          <%= render :partial => "guardians_receiving_texts" %>
        </div>
      </div>
    </div>

    
    <div id="home-waitlist-demographics" class="row col-sm-12 col-md-12 col-lg-12">
      <div class="col-sm-5 col-md-5 col-lg-5">
        <h3>Waitlist (By Bracket)</h3>
        <% @brackets.each do |bracket| %> 
          <%= render :partial => "waitlist", :locals => { :b => bracket, :min => bracket.min_age, :max => bracket.max_age } %> 
        <% end %>
      </div>
      
      <div class="row col-sm-7 col-md-7 col-lg-7">
        <h3>Demographics</h3>
        <div class="col-sm-12 col-md-12 col-lg-12">
          <%= high_chart("my_id1", @gender_chart) %>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12">
          <%= high_chart("my_id2", @school_district_chart) %> 
        </div>
      </div>
      
    </div>
    
  </div>
<% elsif logged_in? && current_user.role == "member" %>
  <%= render :partial => "register" %>
<% else %>
  <%= render :partial => "about_us" %>
<% end %>
