<div class="row">
	<p>
	  <b>Students Registered:</b><%= @tournament.number_of_students unless @tournament.nil? %>
	</p>
</div>
<div class="row">
	<div class="span4">
		<%= render :partial => "students_missing_docs" %>
	</div>
	<div class="span4">
		<%= render :partial => "guardians_receiving_texts" %>
	</div>
</div>
</br>
</br>
<div class="row">
	<%= high_chart("my_id1", @gender_chart) %>

</div>
<div class="row">
	<%= high_chart("my_id2", @school_district_chart) %>	
</div>	

