<div id="page5" class="myHide">

  <p id="medicalAgreement" class="agreementText">
    "To the best of my knowledge, my student is in excellent physical
    condition and has my permission to participate
    in Project C.H.U.C.K. Sumer 2014."
  </p>
  
<!--   <div><%= f.input :medical_agreement, :label => "Parent", :as => :radio_buttons, :collection => [['Agree', true], ['Disagree', false]], :required => true, :wrapper_html => { :style => 'display: inline' }, :input_html => { :class => "agreementField" } %></div> -->
  <div><%= f.input :medical_agreement, :label => "Parent", :as => :boolean, :required => true, :input_html => { :class => "agreementField" } %></div>
  <%= f.input :family_physician, :label => "Physician Name", :input_html => { autcorrect: "off" }  %>
  <%= f.input :physician_phone, :label => "Physician Phone" %>
  <%= r.input :physical_date, :label => "Date of Last Physical Exam: ", :as => :date, :start_year => Date.today.year-2, :end_year => Date.today.year,  :order => [:month, :day, :year], :prompt => { :day => 'Day', :month => 'Month', :year => 'Year' } %>    
  <%= r.input :physical, :as => :file, :label => "Physical Form Upload: " %>
  <%= r.input :physical_cache, :as => :hidden %>
  <%= s.input :allergies, :label => "Allergies ", :input_html => { :rows => 3 , :cols => 30} %>
  <%= s.input :medications, :label => "Medications ", :input_html => { :rows => 3 , :cols => 30} %>
  
  <p id="permissionAgreement" class="agreementText">
    "In case of an accident or illness, I hereby authorize a representative of Best of the Batch Foundation/
    Project C.H.U.C.K.to use his/her judgment in obtaining immediate medical care. (Parents will be
    notiﬁed in case of serious illness or injury as quickly as they can be reached)."
  </p>
  
<!--   <div><%= f.input :permission_agreement, :label => "Parent", :as => :radio_buttons, :collection => [['Agree', true], ['Disagree', false]], :required => true, :input_html => { :class => "agreementField" }, :wrapper_html => { :style => 'display: inline' } %></div> -->
  <div><%= f.input :permission_agreement, :label => "Parent", :as => :boolean, :required => true, :input_html => { :class => "agreementField" } %></div>
</div>
<%= render :partial => "page6_fields", :locals => { :f => f} %>
