<div id="page3" class="myHide">
  <%= s.input :school, :label => "School Name", :input_html => { :value => 'Barrett Elementary School' } %>
  <%= s.input :school_county, :label => "School County", :collection => Student::SCHOOL_DISTRICT_LIST, :allow_blank => false, :input_html => { :value => 'Allegheny' } %>
  <%= s.input :grade_integer, :label => "Grade (as of September, #{Date.today.year})", :allow_blank => false, :collection => Student::GRADES_LIST %>
  <%= r.input :report_card, :as => :file, :label => "Report Card Upload: " %>
  <%= r.input :report_card_cache, :as => :hidden %>
</div>
<%= render :partial => "page4_fields", :locals => { :f => f, :r => r, :s => s} %>
