<div id="page4" class="myHide">
  <%= f.input :insurance_provider, :label => "Insurance Provider: " %>
  <%= f.input :insurance_policy_no, :label => "Insurance Policy Number: " %>
  <%= r.input :proof_of_insurance, :as => :file, :label => "Proof of Insurance Upload: " %>
  <%= r.input :proof_of_insurance_cache, :as => :hidden %>
</div>
<%= render :partial => "page5_fields", :locals => { :f => f, :r => r, :s => s} %>
