<div id="page3" class="myHide">
  <%= s.input :school, :label => "School Name", :placeholder => 'Barrett Elementary School' %>
  <%= s.input :school_county, :label => "School District", :collection => Student::SCHOOL_DISTRICT_LIST, :include_blank => false, :placeholder => 'Allegheny' %>
  <%= s.input :grade_integer, :label => "Grade (as of September, #{Date.today.year})", :include_blank => false, :collection => Student::GRADES_LIST %>
  <%= r.input :report_card, :as => :file, :label => "Report Card Upload: " %>
  <%= r.input :report_card_cache, :as => :hidden %>
</div>
<%= render :partial => "page4_fields", :locals => { :f => f, :r => r, :s => s} %>
