<% eligible_students_arr = b.eligible_students(min, max) %>
<% eligible_students_paginate = eligible_students_arr.paginate(:page => params[:page], :per_page => 10) %>
<% eligible_students_arr_size = eligible_students_arr.size %>
<% remaining_spots = b.remaining_spots %>

<h4> <%= "#{b.name}" %></h4>
<% if remaining_spots > 0 %>

    <%= remaining_spots != 1 ? "There are still #{remaining_spots} spaces available in the #{b.name} bracket." : "There is still #{remaining_spots} space available in the #{b.name} bracket." %></br>
    <%= eligible_students_arr_size != 1 ? "There are currently #{eligible_students_arr_size} eligible students for this bracket." : "There is currently #{eligible_students_arr_size} eligible student for this bracket." %>
    <!-- Insert teams that have space available and links to them. -->

<% elsif b.teams.size.zero? %>

    <%= "There are currently no teams registered for this bracket." %>
    
<% else %>

    <% if eligible_students_arr_size > 0 %>
    
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Position</th>
              <th>Name</th>
              <th>Age(as of June 1)</th>
              <th>Time Submitted</th>
            </tr>
          </thead>
          <tbody>
            <% eligible_students_paginate.each_with_index do |student, i| %>
              <tr>
                <% position = eligible_students_arr.index(student)+1 %>
                <td><%= eligible_students_arr.index(student) %></td>
                <td><%= link_to student.name, student_path(student) %></td>
                <td><%= student.age_as_of_june_1 %></td>
                <td><%= student.registrations.current.first.created_at.strftime("%m/%d @ %I:%M%p") %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class="digg_pagination">
          <div class="page_info">
            <%= will_paginate eligible_students_paginate, :container => true, :previous_label => "Previous", :next_label => "Next", :inner_window => 2 %>
          </div>
        </div>
        
    <% else %>
      <%= "There are currently no spaces left in this bracket and no unassigned eligible students." %>
    <% end %>

<% end %>