<% if logged_in? && current_user.role == "admin" %>
  <div id="home-main-content">
  
    <div id="home-headers" class="row col-sm-12 col-md-12 col-lg-12">
      <p>
        <h4>
          <b>Students Registered:</b><%= @tournament.number_of_students unless @tournament.nil? %>
          <%= link_to 'Register a Student', new_registration_path, :class => "btn btn-success registerStudentButton" %>
        </h4>
<!--         <%= link_to 'Register a Student', new_registration_path, :class => "btn btn-success" %> -->
      </p>
      <p>
        <h4><b>Jersey Sizes:</b> Small-<%= Registration.active.current.jersey_size(0).size %>, Medium-<%= Registration.active.current.jersey_size(1).size %>, Large-<%= Registration.active.current.jersey_size(2).size %>, X-Large-<%= Registration.active.current.jersey_size(3).size %>, XX-Large-<%= Registration.active.current.jersey_size(4).size %>, XXX-Large-<%= Registration.active.current.jersey_size(5).size %></h4>
      </p>	
    </div>

  
    <div id="home-missing-docs-waitlist" class="row col-sm-12 col-md-12 col-lg-12">
    
      <div class="col-sm-12 col-md-12 col-lg-7">
        <div id="home-missing_docs"><%= render :partial => "students_missing_docs" %></div>
        <div id="home-demographics">
          <h3>Demographics</h3>
          <% if (@male_students.size + @female_students.size) > 2 %>
              <%= high_chart("my_id1", @gender_chart) %>
              <%= high_chart("my_id2", @school_district_chart) %> 
              <%= high_chart("my_id3", @home_counties_chart) %> 
          <% else %>
            <%= "None at this time." %>
          <% end %>
        </div>
      </div>
      
      <div class="col-sm-12 col-md-12 col-lg-5">
        <div id="home-unassigned-students">
          <%= render :partial => "unassigned_students" %>
        </div>
        <div id="home-receive-texts">
          <%= render :partial => "guardians_receiving_texts" %>
        </div>
      </div>
      
    </div>
    
  </div>
          
<% elsif logged_in? && current_user.role == "member" %>
  <%= render :partial => "register" %>
<% else %>
  <%= render :partial => "about_us" %>
<% end %>
