<%= simple_form_for @team, :html => { :class => 'form-horizontal' } do |team_form| %>
  <div class="row">
    <div class="span12">
      <fieldset>
        <legend><%= controller.action_name.capitalize %> Team </legend>
        <%= render :partial => "team_fields", :locals => { :f => team_form } %>
      </fieldset>
    </div>
  <div>
  
    <div class="form-actions">
    <%= team_form.submit nil, :class => 'btn btn-primary' %>
    <%= link_to 'Cancel', teams_path, :class => 'btn' %>
  </div>
<% end %>