<p>
  <b>Team Name:</b> <%= @team.nil? ? "---" : team_name(@team.name) %>
</p>

<p>
  <b>Bracket:</b> <%= @bracket.nil? ? "---" : "#{@bracket.sex} #{@bracket.min_age} - #{@bracket.max_age}" %>
</p>

<p>
  <b>Coach:</b><%= @team.coach %>
</p>

<p>
	<b>Max Students:</b><%= @team.max_students %>
</p>

<p>
  <b>Remaining Spots:</b><%= @team.remaining_spots %>
</p>

<p>
	<h4>Students</h4>
</p>

<% if @students.empty? %>
  &nbsp;&nbsp;<em>None at this time</em>
<% else %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
  		<th>Age (as of June 1)</th>
        <th>Missing Document(s)</th>
        <th>Phone Number</th>
        <th>Study Halls</th> 
        <th>Current Registration Status</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% @students.each do |student| %>
        <tr>
          <% registration = student.registrations.reg_order[0] unless student.registrations.reg_order[0].nil? %>
          <td><%= link_to student.name, student_path(student) %></td>
          <td><%= student.dob.nil? ? "---" : student.age_as_of_june_1  %></td>
          <td><%= if student.registrations.reg_order[0].nil? then "All" else student.registrations.reg_order[0].missing_doc end%></td>
          <td><%= number_to_phone student.cell_phone %></td>
          <td>study halls complete or not complete</td>
          <td><%= registration.active ? "Active" : "Inactive" %></td>
          <td><%= link_to raw("<i class='icon-pencil'></i> Edit"), edit_student_path(student), :class => 'btn btn-mini' %></td>
          <td><%= link_to raw("<i class='icon-user icon-white'></i> Remove"), remove_student_path(student_id: student.id), :origin => 'teams', :class => "btn btn-mini" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<h4>Eligible Unassigned Students</h4>
<% if @eligible_students.empty? %>
  &nbsp;&nbsp;<em>None at this time</em>
<% else %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
      <th>Age</th>
        <th>Missing Document(s)</th>
        <th>Phone Number</th>
        <th>Current Registration Status</th>
        <th>&nbsp;</th>
        <% if @team.remaining_spots >  0 %>
        <th>&nbsp;</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @eligible_students.each do |student| %>
        <tr>
          <% registration = student.registrations.reg_order[0] unless student.registrations.reg_order[0].nil? %>
          <td><%= link_to student.name, student_path(student) %></td>
          <td><%= student.dob.nil? ? "---" : student.age  %></td>
          <td><%= if student.registrations.reg_order[0].nil? then "All" else student.registrations.reg_order[0].missing_doc end %></td>
          <td><%= number_to_phone student.cell_phone %></td>
          <td><%= if registration.nil? then "Inactive" else (registration.active ? "Active" : "Inactive") end %></td>
          <td><%= link_to raw("<i class='icon-pencil'></i> Edit"), edit_student_path(student), :class => 'btn btn-mini' %></td>
          <% if @team.remaining_spots >  0 %>
            <td><%= link_to raw("<i class='icon-user icon-white'></i> Add to #{team_name(@team.name)} "), add_student_path(student_id: student.id), :origin => 'teams', :class => "btn btn-mini" %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  <div class="digg_pagination">
    <div clas="page_info">
      <%= page_entries_info @eligible_students %>
    </div>
    <%= will_paginate @eligible_students, :container => true, :previous_label => "Previous", :next_label => "Next", :inner_window => 2 %>
  </div>
  </table>
<% end %>
	

