<!DOCTYPE html>
<html>
  <head>
    <title>Project C.H.U.C.K.</title>
    <%= stylesheet_link_tag    "bootstrap" %>
    <%= javascript_include_tag "application" %>    
    <%= javascript_include_tag "bootstrap" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  <div class="wrapper" style="text-align:right;">
    <div class="container">
      <div id="login">
        <% if logged_in? %>
          <%= link_to 'Logout', logout_path, :class => 'btn btn-primary' %>
          <br>[<%= current_user.student.proper_name %>:<%= current_user.role %>]
        <% else %>
         <%= link_to 'Log In', login_path, :class => 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="container">
    <!-- MAIN CONTENT -->
    <div class="row">
      <div class="col-sm-4 col-med-4 col-lg-4 sidebar">
        <!-- TITLE BAR -->
        <%= link_to(image_tag('projectChuckLogo.jpg'), home_path) %>
      </div>
      <div class="col-sm-8 col-med-8 col-lg-8 main">
        <!-- NAV BAR -->
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <%= render :partial => "partials/navigation" %>
            </div>
          </div>
        </div>
        <!-- flash messages -->
        <% flash.each do |name, msg| %>
          <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
            <a class="close" data-dismiss="alert">&times;</a>
            <%= msg %>
          </div>
        <% end %>



        <div class="row">
          <!-- main content placed here -->
          <div class="col-sm-9 col-md-10">
            <div id="main_content">
              <%= yield %>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- FOOTER -->
  <footer>
    <div class="container">
      <% render :partial => "partials/footer" %>
    </div>
  </footer>

</body>
</html>
