<!DOCTYPE html>
<html>
  <head>
    <title>Project C.H.U.C.K.</title>
    <%= stylesheet_link_tag    "bootstrap" %>
    <%= javascript_include_tag "application" %>    
    <%= javascript_include_tag "bootstrap" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <!-- MAIN CONTENT -->
      <div class="row">
        <div class="col-sm-4 col-med-4 col-lg-4 sidebar">
          <!-- TITLE BAR -->
          <%= link_to(image_tag('projectChuckLogo.jpg'), home_path) %>
        </div>
        <div class="col-sm-8 col-med-8 col-lg-8 main">
          <!-- NAV BAR -->
          <!-- flash messages -->
          <% flash.each do |name, msg| %>
            <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
              <a class="close" data-dismiss="alert">&times;</a>
              <%= msg %>
            </div>
          <% end %>
          <div class="row">
            <!-- main content placed here -->
            <div class="col-sm-9 col-md-10">
              <div id="main_content">
                <%= yield %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!-- FOOTER -->
  <footer>
    <div class="container">
      <% render :partial => "partials/footer" %>
    </div>
  </footer>

</body>
</html>
