<!DOCTYPE html>
<html>
  <head>
    <title>Project C.H.U.C.K.</title>
    <%= stylesheet_link_tag    "reset" %>
    <%= stylesheet_link_tag    "bootstrap" %>
    <%= stylesheet_link_tag    "my_style" %>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <%= javascript_include_tag "bootstrap" %>
    <%= javascript_include_tag "application" %>    
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    
    <script>
      $(function() {
        $( "#datepicker" ).datepicker();
      });
    </script>
  </head>
  <body>


  <div class="container row col-sm-11 col-md-11 col-lg-11" style="margin:0 auto;">
    <div class="row">
      <!-- NAV BAR -->
      <div class="col-sm-10 col-md-10 col-lg-11">
        <%= render :partial => "partials/navigation" %>
      </div>
      
      
      <div class="col-sm-1 col-med-1 col-lg-1">
        <% if logged_in? %>
          <%= link_to 'Logout', logout_path, :class => 'btn btn-primary' %>
          <br>[<%= current_user.student.proper_name %>:<%= current_user.role %>]
        <% else %>
          <%= link_to(image_tag('bob_logo.png', size: "65x101")+"Login", login_path, :class => 'btn btn-primary')%>
        <% end %>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-2 col-med-2 col-lg-2 sidebar">
        <!-- TITLE BAR -->
        <%= image_tag('projectChuckLogo.jpg') %>
      </div>
      <div id="main_content" class="col-sm-10 col-med-10 col-lg-10 main">
        <!-- flash messages -->
        <% flash.each do |name, msg| %>
          <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
            <a class="close" data-dismiss="alert">&times;</a>
            <%= msg %>
          </div>
        <% end %>
        
        
        <!-- MAIN CONTENT -->
        <div>
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
  </div>
  <!-- FOOTER -->
  <footer>
    <div class="container">
      <% render :partial => "partials/footer" %>
    </div>
  </footer>

</body>
</html>
