<%= simple_form_for @registration, :url => { :action => "new" }, :html => { :class => 'form-inline' } do |registration_form| %>
  <div class="row">
    <div class="span7">
      <fieldset>
        <legend><%= controller.action_name.capitalize %> Registration </legend>
        <%= render :partial => "registration_fields", :locals => { :f => registration_form } %>
      </fieldset>
    </div>
  <div>
  
  <div class="form-actions">
    <%= registration_form.submit nil, :class => 'btn btn-primary' %>
    <%= link_to 'Cancel', registrations_path, :class => 'btn' %>
  </div>
<% end %>