<div class="fields">
  <div id="page1">
    <%= hidden_field "student[household_id]", :value => house.id %>
    <%= f.label "Student Name" %>
    <%= text_field_tag "student[first_name]", "Shaun" %>
    <%= text_field_tag "student[last_name]", "Ford" %>
    <%= select_tag "student[gender]", options_for_select(Student::GENDER_LIST) %>
    <%= date_select "student[dob]", nil %>
    <%= f.input :birth_certificate, :as => :file, :label => "Birth Certificate Upload: " %>
    <%= f.input :street, :label => "Address", :placeholder => "5000 Forbes Avenue", :input_html => { :value => '5000 Forbes Avenue' }%>
    <div class="address">
      <%= f.input :city, :label => false, :placeholder => "City", :wrapper => :my_wrapper, :input_html => { :value => 'Pittsburgh', size: 30 } %>
      <%= f.input :state, :label => false, :placeholder => "State", :wrapper => :my_wrapper, :collection => Household::STATES_LIST, :selected =>'PA' %>
      <div>
        <%= f.input :zip, :label => false, :placeholder => "Zip Code", :wrapper => :my_wrapper, :input_html => { :value => '15289', size: 20 } %>
        <%= f.input :county, :label => false, :placeholder => "County", :wrapper => :my_wrapper, :input_html => { :value => 'Allegheny', size: 20 } %>
      </div>
    </div>
    <%= f.input :home_phone, :label => "Home Phone", :placeholder => "412-333-3333", :input_html => { :value => '412-333-3333', size: 30 } %>
    <%= text_field_tag "student[cell_phone]", "412-666-0000" %>
    <%= text_field_tag "student[email]", "john.carter@email.com" %>
    <%= f.label "Please select a security question for the child (to be used for returning years):" %>
    <%= f.input :security_question, :label => false, :collection => Student::SECURITY_QUESTIONS %>
    <%= f.input :security_response, :label => "Security Response", :placeholder => "Answer", :input_html => { :value => 'Andolf', size: 30 } %>
    <%= f.input :t_shirt_size, :label => "Jersey Size", :collection => Registration::SIZE_LIST %>
    <%= f.input :student_id, :as => :hidden, :value => stu.id %>
    <%= f.input :emergency_contact_name, :label => "Emergency Contact Name", :placeholder => "William Cooper", :input_html => { :value => 'William Cooper', size: 35 } %>
    <%= f.input :emergency_contact_phone, :label => "Emergency Contact Phone", :placeholder => "412-999-9999", :input_html => { :value => '412-999-9999', size: 20 } %>
  </div>
  <div id="page2" class="myHide">
    <%= hidden_field "guardian[household_id]", :as => :hidden, :value => house.id %>
    <%= f.label "Guardian Name" %>
    <%= text_field_tag "guardian[first_name]", 'Janine' %>
    <%= text_field_tag "guardian[last_name]", 'Carol' %>
    <%= select_tag "guardian[gender]", options_for_select(Student::GENDER_LIST) %>
    <%= date_select "guardian[dob]", nil %>
    <%= text_field_tag "guardian[email]", "johndoe@gmail.com" %>
    <%= f.input :day_phone, :label => "Day Phone", :placeholder => "412-345-5555", :input_html => { :value => '412-345-5555', size: 30 } %>
    <%= text_field_tag "guardian[cell_phone]", "412-567-9999" %>
    <%= f.input :receive_texts, :label => "Opt-in to Receive Text Messages" %>
  </div>
  <div id="page3" class="myHide">
  <%= f.input :school, :label => "School Name", :placeholder => "Barrett Elementary School" %>
  <%= f.input :grade_integer, :label => "Grade (as of Semptember, #{Date.today.year})", :collection => Student::GRADES_LIST %>
  <%= f.input :report_card, :as => :file, :label => "Report Card Upload: " %>
  </div>
  <div id="page4" class="myHide">
   <%= f.input :insurance_provider, :label => "Insurance Provider: ", :placeholder => "Blue Cross, Blue Shield", :input_html => { :value => 'Blue Cross, Blue Shield' } %>
  <%= f.input :insurance_policy_no, :label => "Insurance Policy Number: ", :placeholder => "0992X R78123 678", :input_html => { :value => '0992X R78123 678' } %>
  <%= f.input :proof_of_insurance, :as => :file, :label => "Proof of Insurance Upload: " %>
</div>
  <div id="page5" class="myHide">
  <%= f.input :family_physician, :label => "Physician Name", :placeholder => "Dr. Herbert Fiscal", :input_html => { :value => 'Dr. Herbert Fiscal' } %>
  <%= f.input :physician_phone, :label => "Physician Phone", :placeholder => "412-778-9999", :input_html => { :value => '412-778-9999' } %>
  <%= f.input :physical_date, :label => "Date of Last Physical Exam: ", :as => :date, :start_year => Date.today.year-19, :end_year => Date.today.year,  :order => [:month, :day, :year], :prompt => { :day => 'Day', :month => 'Month', :year => 'Year' } %>    
  <%= f.input :physical, :as => :file, :label => "Physical Form Upload: " %>
  <%= f.input :allergies, :input_html => { :rows => 3 , :cols => 30} %>
  <%= f.input :medications, :input_html => { :rows => 3 , :cols => 30} %>
  </div>
</div>