<%= simple_form_for @registration_form, :html => { :class => 'form-horizontal' } do |registration_form| %>
  <% if @registration_form.errors.any? %>
    <div>
      <h3><%= pluralize(@registration_form.errors.count, "error") %> prohibited this form from being saved:</h3>

      <ul>
        <% @registration_form.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend><%= controller.action_name.capitalize %> Student Registration </legend>
    <%= render :partial => "full_registration_fields", :locals => { :f => registration_form } %>
  </fieldset>

  <div class="form-actions">
    <ul class="pager">
      <%= link_to 'Cancel', students_path, :class => 'btn' %>
      <span style="background:#e5e5e5" id="myPrevious" class="btn myHide">Previous</span>
      <span style="background:#e5e5e5" id="myContinue" class="btn">Continue</span>
      <%= registration_form.submit nil, :class => 'btn btn-primary myHide', :id => 'registrationNestedSubmit' %>
    </ul>
  </div>
<% end %>
