<div class="fields">
  <div class="min_attraction">
      <%= stu.input :first_name %>
      <%= reg.label "Date: " + Date.today.strftime("%^B %d, %y") %>
      <%= stu.input :last_name %>
      <%= reg.association :student %>
      <%= stu.input :gender, :collection => Student::GENDER_LIST %>
      <%= reg.association :team %>
      <%= stu.input :dob, :label => "Date of Birth", :as => :date, :start_year => Date.today.year - 19, :end_year => Date.today.year - 4,  :order => [:month, :day, :year], :include_blank => true %>
      <%= reg.input :t_shirt_size, :label => "Jersey Size (adult sizes)", :collection => Registration::SIZE_LIST %>
      <%= stu.input :emergency_contact_name %>
      <%= reg.input :report_card, :label => "Report Card Upload" %>
      <%= stu.input :emergency_contact_phone %>
      <%= reg.input :physical, :label => "Physical Form Upload" %>
      <%= reg.input :physical_date %>
      <%= reg.input :proof_of_insurance, :label => "Proof of Insurance Upload" %>
      <%= reg.input :active, :as => :boolean, :checked_value => true, :unchecked_value => false %>
      <%= stu.input :allergies, :input_html => { :rows => 3 , :cols => 30} %>
      <%= stu.input :medications, :input_html => { :rows => 3 , :cols => 30} %>
      <%= stu.input :grade_integer, :collection => Student::GRADES_LIST %>
      <%= stu.input :school %>
      <%= stu.input :school_county %>
      <%= stu.input :security_question, :collection => Student::SECURITY_QUESTIONS, :label => "Please select a security question" %>
      <%= stu.input :security_response %>
      <%= stu.input :active %>
  </div>
</div>