<div class="fields">
  <div class="min_attraction">
      <%= f.label "Date: " + Date.today.strftime("%b %d, %y") %>
      <%= f.association :student %>
      <%= f.association :team %>
      <%= f.input :t_shirt_size, :label => "Jersey Size (Adult sizes)", :collection => Registration::SIZE_LIST %>
      <%= f.input :report_card, :label => "Report Card Upload" %>
      <%= f.input :physical, :label => "Physical Form Upload" %>
      <%= f.input :physical_date %>
      <%= f.input :proof_of_insurance, :label => "Proof of Insurance Upload" %>
      <%= f.input :active, :as => :boolean, :checked_value => true, :unchecked_value => false %>
  </div>
</div>