<p>
  <b>Household Name: </b> <%= "#{@household.name} Household" %>
</p>

<p>
  <b>Home Address: </b> <%= @household.full_address %>
</p>

<p>
  <b>Home Phone: </b> <%= number_to_phone @household.home_phone %>
</p>

<p>
  <b>Household Insurance Provider: </b> <%= @household.insurance_provider %>
</p>

<p>
  <b>Insurance Policy Number: </b> <%= @household.insurance_policy_no %>
</p>

<p>
  <b>Family Physician: </b> <%= @household.family_physician %>
</p>

<p>
  <b>Physician Phone: </b> <%= number_to_phone @household.physician_phone %>
</p>

<p>
  <b>Number of Registered Children: </b><%= @household.students.size %>
</p>

<p>
  <b>Current Status: </b><%= @household.active ? "Active" : "Inactive" %>
</p>

</br>

<p>
	<h4>Parents/Guardians</h4>
</p>

<% if @guardians.empty? %>
  &nbsp;&nbsp;<em>None at this time</em>
<% else %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
  		  <th>Gender</th>
        <th>Day Phone</th>
        <th>Email</th>
        <th>Receive Texts</th> 
        <th>Current Status</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% @guardians.each do |guardian| %>
        <tr>
          <td><%= link_to guardian.name, guardian_path(guardian) %></td>
          <td><%= guardian.sex %></td>
          <td><%= number_to_phone guardian.day_phone %></td>
          <td><%= guardian.email %></td>
          <td><%= guardian.receive_texts ? "Yes" : "No" %></td>
          <td><%= guardian.active ? "Active" : "Inactive" %></td>
          <td><%= link_to raw("<i class='icon-pencil'></i> Edit"), edit_guardian_path(guardian), :class => 'btn btn-mini' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
</br>

<p>
  <h4>Children</h4>
</p>

<% if @students.empty? %>
  &nbsp;&nbsp;<em>None at this time</em>
<% else %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Gender</th>
        <th>Age</th>
        <th>Grade</th>
        <th>Cell Phone</th> 
        <th>Current Status</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% @students.each do |student| %>
        <tr>
          <td><%= link_to student.name, student_path(student) %></td>
          <td><%= student.sex %></td>
          <td><%= student.age %></td>        
          <td><%= student.grade_integer %></td>          
          <td><%= number_to_phone student.cell_phone %></td>
          <td><%= student.active ? "Active" : "Inactive" %></td>
          <td><%= link_to raw("<i class='icon-pencil'></i> Edit"), edit_student_path(student), :class => 'btn btn-mini' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

