<div class="row">
	<div class="span12">
		<h2>Household Details</h2>
		<%= render :partial => "household_details" %>
	</div>
</div>

<div class="form-actions">
  <%= link_to raw("<span class='glyphicon glyphicon-list'></span> Display All Households"), households_path, :class => 'btn btn-default myDisplayAllButton'  %>&nbsp;&nbsp;
  <%= link_to raw("<span class='glyphicon glyphicon-pencil'></span> Edit Household"), edit_household_path(@household), :class => 'btn btn-primary myEditButton' %>&nbsp;&nbsp;
  <% household_name = @household.name %>
  <% if @household.active %>
    <%= link_to raw("<span class='glyphicon glyphicon-remove'></span> Make #{household_name} Inactive"), household_path(@household), :method => 'delete', :confirm => 'Warning: All guardians, students, and registrations associated with those students will be made inactive. Are you sure you want to do this?', :class => 'btn btn-danger' %>
  <% else %>
    <%= link_to raw("<span class='glyphicon glyphicon-ok'></span> Make #{household_name} Active"), activate_household_path(@household), :class => 'btn btn-success' %>
  <% end %>
</div>